@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:300,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/subset-GothamPro-Light.woff2), 
       url(../fonts/fonts/subset-GothamPro-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/subset-GothamPro-Bold.woff2), 
       url(../fonts/subset-GothamPro-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/subset-GothamPro-LightItalic.woff2),
       url(../fonts/subset-GothamPro-LightItalic.woff);
  font-weight: 300;
  font-style: italic;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  min-width: 1100px;
}
.header, .footer {
  background: #27273e;
  color: #fff;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.header__container {
  height: 77px;
  position: relative;
}
.logo {
  width: 98px;
  height: 51px;
}
.logo__header {
  position: absolute;
  top: 13px;
  left: 19px;
}
.contacts {
  position: absolute;
  top: 21px;
  right: 22px;
  text-align: right;
}
.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}
.contacts__schedule {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  color: rgba(236, 30, 121, 0.7);
  text-decoration: underline;
}
.banner {
  background: #27273e;
  height: 369px;
  margin-bottom: 72px;
}
.banner__img {
  width: 1100px;
}
.sidebar, .page {
  display: inline-block;
  vertical-align: top;
}
.sidebar {
  width: 200px;
}
.page {
  width: 900px;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-left: 20px;
}
.menu__list a.active {
  color: #000;
}
.menu__item {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 33px;
}
.menu__item-1::before {
  content: url(../img/icons/main_icon.png);
  margin-right: 18px;
  display: inline-block;
}
.menu__item-2::before {
  content: url(../img/icons/star_pink.png);
  margin-right: 18px;
  display: inline-block;
}
.menu__item-3::before {
  content: url(../img/icons/wallet-pink.png);
  margin-right: 18px;
  display: inline-block;
}
.menu__text {
  font-size: 12px;
  font-weight: bold;
  color: #ec1e79;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__text:hover {
  color: #000;
}
.menu__item-2:hover::before {
  content: url(../img/icons/star_hover.png);
}
.menu__item-3:hover::before {
  content: url(../img/icons/wallet_hover.png);
}
.features {
  margin-bottom: 93px;
}
.features__content {
  margin: 0 auto;
  margin-bottom: 91px;
  padding: 0;
}
.section-title {
  display: block;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 49px;
  font-weight: bold;
  text-align: left;
}
ul > li {
  list-style: none;
}

.features__item {
  display: inline-block;
  width: 207px;
  margin-right: 68px;
}

.features__icon {
  width: 72px;
  height: 72px;
  margin-left: 64px;
  margin-right: 62px;
  margin-bottom: 35px;
  background-color: #27273e;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.features__icon-1 {
  background-image: url(../img/icons/flower.png);
}
.features__icon-2 {
  background-image: url(../img/icons/mark-as-favorite-star.png);
}
.features__icon-3 {
  background-image: url(../img/icons/painter-palette.png);
}
.features__title {
  margin: auto;
  margin-bottom: 28px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.64px;
}
.features__text {
  font-size: 18px;
  font-weight: 300;
}
.features__text-list {
  padding: 0;
  text-align: left;
}
.features__text-list li::before {
  content: "•";
  color: #ec1e79;
  margin-right: 30px;
}

.feeds__list {
  padding: 0;
  margin: 0;
}
.feeds__item {
  display: inline-block;
  margin-bottom: 57px;
}
.feeds__icon {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
.feeds__desc {
  text-align: left;
}
.feeds__date {
  font-family: "roboto";
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  margin-bottom: 15px;
}
.feeds__title {
  font-family: "roboto";
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.feeds__text {
  display: block;
  margin: 0;
  font-family: "roboto";
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
}
.pagination {
  font-family: "roboto";
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 78px;
}
.pagination__display {
  display: inline-block;
  font-weight: 300;
  color: #656464;
  margin-right: 20px;
}
.pagination__controls {
  display: inline-block;
}
.pagination__pages-list {
  padding: 0;
  margin: 0;
}
.pagination__pages-list li {
  display: inline-block;
  margin: 0;
}
.pagination__pages-item a{
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.pagination .pagination__pages-link_active {
  background-color: #27273e;
  color: #fff;
}
.pagination__pages-list li:last-child {
  margin: 0;
}
.pagination__pages-list li:first-child::before {
  content: url(../img/icons/arrow_back.png);
  margin-right: 15px;
}
.pagination__pages-list li:last-child::after {
  content: url(../img/icons/arrow_forward.png);
  margin-left: 15px;
}

.footer {
  min-width: 1100px;
}
.footer__container {
  position: relative;
  height: 77px;
}
.sign {
  position: absolute;
  width: 257px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  left: 19px;
  bottom: 15px;
}
.sign__text {
  margin: 0;
}
.loftschool-link {
  color: #fff;
  font-weight: 700;
}
.logo-footer {
  position: absolute;
  display: inline-block;
  left: 499px;
  bottom: 12px;
}
.social {
  float: right;
}
.social__title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 22px 9px 0px;
  padding: 0;
}
.social__preview {
  margin: 0px 35px 13px 0px;
  padding: 0;
}
.social__icon {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4d4d8;
}
.social__icon:last-child {
  margin: 0;
}
.social__icon:hover {
  background-color: #ec1e79;
}