* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  min-width: 1060px;
}

.container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.sidebar, .page {
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  display: inline-block;
  text-align: left;
  min-width: 200px;
}

.page {
  display: inline-block;
  width: 900px;
  text-align: center;
}