* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  min-width: 1160px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* .maincontent {
  margin-top: 43px;
} */

.sidebar, .page {
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  display: inline-block;
  width: 25%;
  padding: 0 25px;
}

.page {
  display: flex;
  flex-flow: column;
  width: 75%;
}

img {
  max-width: 100%;
  object-fit: cover;
}