.contacts {
  display: inline-block;
  text-align: right;
  position: relative;
}

.contacts__phone {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}
.contacts__schedule {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  color: rgba(236, 30, 121, 0.7);
  text-decoration: underline;
  transition: color 0.3s;
}

.contacts__schedule:hover {
  cursor: pointer;
  color: rgba(93, 209, 248, 0.7);
  transition: color 0.3s;
}

.contacts__timetable {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 83%;
  height: 185%;
  top: 65px;
  left: 35px;
  background: linear-gradient(to top, #ffffff, #ffffff);
  box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0 11px;
  opacity: 0;
}

.contacts__text {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #221f1f; 
}

.contacts__text--pink {
  font-weight: 700;
  color: #ec1e79;
}

.contacts__schedule:hover + .contacts__timetable {
  opacity: 1;
  animation: fadeInDown .7s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
