.contacts {
  display: inline-block;
  position: relative;
  text-align: right;
}

.contacts__phone {
  display: block;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.contacts__drop-menu {
  display: inline-block;
  position: relative;
}

.contacts__drop-menu:hover .contacts__schedule {
  color: rgba(93, 209, 248, 0.7);
  transition: color 0.3s;
}

.contacts__schedule {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  color: rgba(236, 30, 121, 0.7);
  text-decoration: underline;
  transition: color 0.3s;
}

.contacts__timetable {
  display: block;
  position: absolute;
  width: 141%;
  height: 432%;
  top: 41px;
  left: -47px;
  background: linear-gradient(to top, #ffffff, #ffffff);
  box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0 8px;
  opacity: 0;
}

.contacts__timetable::before {
  content: "";
  display: block;
  position: absolute;
  height: 40px;
  top: -39px;
  width: 100%;
}

.contacts__text {
  display: inline-block;
  position: center;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #221f1f; 
}

.contacts__text--pink {
  font-weight: 700;
  color: #ec1e79;
}

.contacts__drop-menu:hover .contacts__timetable {
  opacity: 1;
  animation: fadeInDown .7s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
