.cta {
  background: #27273e;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.cta--sidebar {
  background: #27273e;
  display: flex;
  justify-content: center;
  margin: 33px 10px;
}

.cta__container {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px 2px;
  background-image: url(../../img/pattern_cta.png);
  background-repeat: no-repeat;
}

.cta__text {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
}

.cta__text-strong {
  color: #ec1e79;
  font-weight: 700;
}