.features {
  margin-bottom: 93px;
}
.features__content {
  margin: 0 auto;
  margin-bottom: 91px;
  padding: 0;
}
.features__item {
  display: inline-block;
  width: 207px;
  margin-right: 68px;
}

.features__icon {
  width: 72px;
  height: 72px;
  margin-left: 64px;
  margin-right: 62px;
  margin-bottom: 35px;
  background-color: #27273e;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.features__icon-1 {
  background-image: url(../../img/icons/flower.png);
}
.features__icon-2 {
  background-image: url(../../img/icons/mark-as-favorite-star.png);
}
.features__icon-3 {
  background-image: url(../../img/icons/painter-palette.png);
}
.features__title {
  margin: auto;
  margin-bottom: 28px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.64px;
}
.features__text {
  font-size: 18px;
  font-weight: 300;
}
.features__text-list {
  padding: 0;
  text-align: left;
}
.features__text-list li::before {
  content: "•";
  color: #ec1e79;
  margin-right: 30px;
}