.features {
  margin-bottom: 93px;
}
.features__content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 91px;
  padding: 0;
}
.features__item {
  display: inline-block;
  margin-right: 68px;
}

.features__icon {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-bottom: 35px;
  background-color: #27273e;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.features__icon--flower {
  background-image: url(../../img/icons/flower.png);
}
.features__icon--star {
  background-image: url(../../img/icons/mark-as-favorite-star.png);
}
.features__icon--pallete {
  background-image: url(../../img/icons/painter-palette.png);
}
.features__title {
  margin: auto;
  margin-bottom: 28px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.64px;
}

.features__desc {
  display: block;
}

.features__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.features__text-area {
  display: block;
  margin-bottom: 8px;
}

.features__text-list {
  display: block;
  padding: 0;
  text-align: left;
}

.features__text-list li {
  margin-bottom: 8px;
}

.features__text-list li::before {
  content: "•";
  color: #ec1e79;
  margin-right: 30px;
}