.feeds__list {
  padding: 0;
  margin: 0;
}
.feeds__item {
  display: flex;
  margin-bottom: 57px;
}
.feeds__pic {
  display: block;
  margin-right: 20px;
}

.feeds__icon {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.feeds__desc {
  text-align: left;
}
.feeds__date {
  font-family: "roboto";
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  margin-bottom: 15px;
}
.feeds__title {
  font-family: "roboto";
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.feeds__text {
  display: block;
  margin: 0;
  font-family: "roboto";
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
}

.feeds__text-area {
  line-height: 30px;
}