.wrapper-intro {
  width: 100%;
  height: 100%;
  background: url(../../img/intro.jpg) no-repeat center center fixed;
  background-size: cover;
}

.wrapper-intro--overlay {
  width: 100%;
  height: 100%;
  background: rgba(236, 30, 121, .15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  animation: intro 3s;
}

@keyframes {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  50% {
    opacity: .5;
    width: 50%;
    height: 50%;
  }

  75% {
    
  }

  100% {

  }
}

.intro__logo {
  min-width: 160px;
  margin-bottom: 29px;
}

.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 182px;
  min-height: 44px;
  border: 3px solid #ec1e79;
}

.intro__button-link {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ec1e79;
  letter-spacing: 1.2px;
  text-decoration: none;
}




