.partners {
  margin-bottom: 27px;
}

.partners__title {
  display: block;
  margin: 0;
  margin-bottom: 52px;
  font-size: 49px;
  font-weight: bold;
  text-align: left;
  line-height: 38px;
}

.partners__list {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.partners__pic {
  flex: 1;
  margin-bottom: 34px;
}

.partners__img {
  filter: grayscale(100%);
}

.partners__img:hover {
  cursor: pointer;
  filter: none;
  transition: filter 0.3s;
}

/* Partners--sidebar */

.partners--sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 62px;
  border: 1px solid #e8e9ed;
  margin: 25px 20px;
}

.partners__title--sidebar {
  display: block;
  margin: 0;
  margin-bottom: 52px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.partners__list--sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}