.sign {
  display: inline-block;
  flex: 1 1 264px;
  margin-right: 216px;
}

.sign__text {
  font-size: 14px;
  font-weight: 300;
}

.loftschool-link {
  color: #fff;
  font-weight: 700;
}