.social__title {
  position: absolute;
  margin: 0;
  display: block;
  font-size: 14px;
  font-weight: 700;
  top: 16px;
  right: 22px;
}
.social__preview {
  position: absolute;
  right: 53px;
  bottom: 16px;
  padding: 0;
  margin: 0;
}
.social__icon {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4d4d8;
}
.social__icon:last-child {
  margin: 0;
}
.social__icon:hover {
  background-color: #ec1e79;
}