.social {
  display: inline-block;
  flex: 1 1 168px;
}

.social__title {
  margin: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 9px;
}

.social__preview {
  display: flex;
  right: 53px;
  bottom: 16px;
  padding: 0;
  margin: 0;
}

.social__icon {
  margin-right: 10px;
}

.social__link {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4d4d8;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s;
}

.social__link:last-child {
  margin: 0;
}




.social__link:hover {
  background-color: #ec1e79;
  transition: 0.3s;
}

.social__pic {
  position: relative;
}

.social__pic::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;
  background: url(../../img/icons/social__icons_sprites.png) no-repeat;
}

.social__pic--vk::before {
  background-position: -148px -17px;
  width: 15px;
  height: 13px;
}

.social__pic--fb::before {
  background-position: -14px -17px;
  width: 10px;
  height: 13px;
}

.social__pic--google::before {
  background-position: -194px -17px;
  width: 15px;
  height: 9px;
}
.social__pic--twitter::before {
  background-position: -57px -17px;
  width: 11px;
  height: 9px;
}
.social__pic--mail::before {
  background-position: -102px -17px;
  width: 12px;
  height: 9px;
}

/* .social__link--vk {
  background-image: url(../../img/icons/vk.png);
}
.social__link--fb {
  background-image: url(../../img/icons/fb.png);
}
.social__link--google {
  background-image: url(../../img/icons/google.png);
}
.social__link--twitter {
  background-image: url(../../img/icons/twitter.png);
}
.social__link--mail {
  background-image: url(../../img/icons/mail.png);
} */



